[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "*"
aiohttp = "*"
asyncio = "*"
pandas = "*"
openpyxl = "*"
boto3 = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
